body {
  font-size: 0.9em;
}

div.nav a {
  padding: 5px;
}

table.cardapio {
  font-size: 0.9em;
}

table.cardapio td {
  padding: 1px;
}

table.cardapio tr:first-child td {
  padding-bottom: 10px;
}

table.cardapio tr:nth-child(2) td {
  padding-top: 8px;
}

/* var vazio = #3275bc;
var moderado = 'rgb(66, 244, 155, '+ opacidade +')';
var movimentado = 'rgb(232, 247, 19, '+ opacidade +')';
var lotado = 'rgb(247, 13, 9, '+ opacidade +')'; */

td.vazio i:first-child td{
  background-color: #3275bc;
}

/* table.cardapio tr:last-child td{
  padding-top: 20px;
    background: #ff0000;
} */

table.cardapio tr:nth-last-child(2) td {
  padding-bottom: 10px;
}

table.cardapio tr.footer td {
  padding: 6px;
  font-size: 0.9em;
  background-color: #f5f5f5;
}


table.cardapio th {
  padding: 8px;
  /* margin: 8px; */
}
